
html,
body {
    position: fixed;
    width:100%; height:100%;
    overflow:hidden;
    scroll: no;
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    overflow-y: hidden; /* Prevent scroll on narrow devices */
}


/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.world {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    right: 200px;
    border-style: solid;
    border-width: 2px;
}

#svgdiv {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    right: 200px;
    border-style: solid;
    border-width: 2px;
    border-color: green;
}

.ksidebar {
    position: absolute;
    top: 0px;
    width: 200px;
    height: 100%;
    right: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #ff0000;


}


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views *//*

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

*/
/* Custom page header *//*

.header {
    border-bottom: 1px solid #e5e5e5;
}

*/
/* Make the masthead heading the same height as the navigation *//*

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

*/
/* Custom page footer *//*

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

*/
/* Main marketing message and sign up button *//*

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

*/
/* Supporting marketing content *//*

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

*/
/* Responsive: Portrait tablets and up *//*

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    */
/* Remove the padding we set earlier *//*

    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    */
/* Space out the masthead *//*

    .header {
        margin-bottom: 30px;
    }
    
    */
/* Remove the bottom border on the jumbotron for visual effect *//*

    .jumbotron {
        border-bottom: 0;
    }
}
*/
